*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 7px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul{
    list-style: none;
}

.user-comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  justify-content: center;
  gap:30px;
}

dialog{
  border-radius: 50px;
  margin: auto;
}

::-webkit-scrollbar {
        display: none;
        visibility: hidden;
        opacity: 0;
}

dialog :is(div, ul){
  width: 500px;
  
}

h1 {
  text-align: center;
  margin-bottom:20px;
  color:rgb(240, 150, 150);
  font-weight: bolder;

}

dialog::backdrop {
    background-color: rgba(0,0,0,.7);
}

.post-item {
    background-color:lightsteelblue;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius:20px;
    padding:10px;
    color:lightcyan;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap:7px;
}

.comment-header{
  color:rgb(240, 150, 150);
}

.post-btn {
    border-radius: 20px;
    border-color:lightsteelblue;
    border-style: solid;
    background-color:lightcyan;
    color:rgb(240, 150, 150);
    font-weight: bold;
    width:200px;
    cursor: pointer;
}

.post-writer {
  color:lightcoral;
}
.unvisible{
    display: none;
}

.post-title{
    color:rgb(240, 150, 150);
}
.post-inform {
  display: flex;
  flex-direction: column;
  
  
}
.user-list{
  padding:0;
  margin-top:10px;
}

.user-inform {
    
    color:rgb(240, 150, 150);
    background-color: lightsteelblue;
    border-radius: 80px;
    padding:20px;
    text-align: center;
    font-weight: bolder;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.close{
  background-color: lightcoral;
  border-radius: 10px;
  color:whitesmoke;
  border-color: whitesmoke;
  width: 200px;
  cursor:pointer;
}

.ortala {
  text-align: center;
}

.post-btn-konum{
  text-align: center;
}

.comment-item {
    border:1px solid rgba(0,0,0,0.1);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 10px;
    border-radius: 100px;
    padding:30px;
    color:lightsteelblue;
}

.post-btn:hover {
    background-color:rgb(240, 150, 150);;
    color:lightcyan;
}

.comment-name {
    color:rgb(240, 150, 150);
}

.post-btn{
  align-items: center;
}